<html lang="en">
    <%- include('./partials/head.ejs') %>
<body style="overflow-x: hidden;">

    <%- include('./partials/nav.ejs') %>

    <div class="projects content">
        <h1 class="mainTitle">My Project</h1>  
        <img src="/images/blob_dash.svg" style="position:absolute;left:-16rem; top:-7rem; z-index: 0; width:150%;">
    </div>
    <div class="btns_container">
        <div class='project_btns'>
            <button class="active">All Projects</button>
            <button>Online Projects</button>
            <button>Unshared Projects</button>
        </div>
        <a href="/projects/create"><button class="create_btn">Create new</button></a>
    </div>
        <hr style="width:50%; margin: 1.5rem 0rem 1.5rem 5rem;">
        <!-- looping through all projects in db to output them  -->
        <div class="all_projects">
        <% if(projects.length > 0){ %> 

            <% projects.forEach(project=>{ 
                let date = project.updatedAt.getDate()
                let month = project.updatedAt.getMonth()
                let year = project.updatedAt.getFullYear()
                let monthArray = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
                month = monthArray[month]

                %>
                <div class="project_card">
                    <div class='card_left'>
                        <h2 class="title"><a class="single" href="/projects/<%= project._id %>/detail"><%= project.title  %> </a></h1>
                        <h2 class="last_update"> Last modified: <%= month %> <%= date %>, <%= year %></h3>
                        <div class="btns_container_card">
                            <a href="/projects/<%= project._id%>/detail"><button>Edit</button></a>
                            <a href="/projects/<%= project._id%>" target="_blank"><button>Test</button></a>
                        </div>
                    </div>
                    <div class="card_right">
                        <a  class="delete" data-doc="<%= project._id %>" > Delete  </a>
                        <div class="status">
                            <h3>Online</h3>
                            <div class="toggle_btn">
                                <i class="fas fa-toggle-on"></i>
                                <!-- <i class="fas fa-toggle-off"></i> -->
                            </div>

                        </div>
                    </div>
                </div>
            <% }) %>
         
        <% }else{ %>
                <p>NOTHING TO SHOW</p>

            <% } %>
   
        
    <script>
        //delete project request
        const trashcan = document.querySelector(".delete") 

        trashcan.onclick = () => {
        
            const endpoint = `/projects/${trashcan.dataset.doc}`

            fetch(endpoint,{
                method:"DELETE"
            })
            .then((response)=>{return response.json()})
            .then((data)=>window.location.href = data.redirect)
            .catch((err)=>console.log(err))

        }
    </script>
    

    <!-- <%- include('./partials/footer.ejs') %> -->
</body>
</html>