<html>
    <%- include('./partials/head.ejs') %>

    <body>
        <div class="details">
        <h1>Name: <%= project.title %></h1>
        <div class="content">

            <h2>Trigger: <%= project.method %></h2>
            <h2>Model File Path: <%= project.filePath %></h2>
            <h2>GPS Lat: <%= project.lat %></h2>
            <h2>GPS Long: <%= project.long %></h2>
            <h2>GPS Range: <%= project.gpsRange %></h2>
            <h2>Project ID: <%= project._id %></h2>

            
        </div>
        <a  class="view" data-doc="<%= project._id %>"  href="/projects/<%= project._id %>/"> view </a>
        </div>
        </div>
        <a  class="delete" data-doc="<%= project._id %>" > delete  </a>
        </div>





        <script>
            const trashcan = document.querySelector(".delete")

            trashcan.onclick = () => {
                
                const endpoint = `/projects/${trashcan.dataset.doc}`

                fetch(endpoint,{
                    method:"DELETE"
                })
                .then((response)=>response.json())
                .then((data)=>window.location.href = data.redirect)
                .catch((err)=>console.log(err))

            }



        </script>

    </body>


</html>