<html>
    
    <%- include('./partials/head.ejs') %>

    <body>

        <div class="details">
        <h1 class="mainTitle detailTitle"> <%= project.title %></h1>
        <div class="content  offset-5">

            <h2>Trigger:<span class="singleDetail"> <%= project.method %></span></h2>
            <h2>Model File Path: <span class="singleDetail"><%= project.filePath %></span></h2>
            <h2>GPS Lat: <span class="singleDetail"><%= project.lat %></span></h2>
            <h2>GPS Long:<span class="singleDetail"> <%= project.long %></span></h2>
            <h2>GPS Range: <span class="singleDetail"><%= project.gpsRange %></span></h2>
            <h2>Project ID:<span class="singleDetail"> <%= project._id %></span></h2>

            <% if(project.trigger.length > 0){ %>

                <% for(let i = 0; project.trigger.length>i; i++) {%>
                    <br>
                    <h1>Trigger <%= i+1 %></h1>
                    <h2 class="trigger_name"> Name: <%= project.trigger[i].name %></h2>
                    <h2 class="trigger_id"> Trigger Id: <%= project.trigger[i]._id %></h2>
                    <h2 class="trigger_asset_path"> Asset Path: <%= project.trigger[i].asset_path %></h2>
                    <button><a  class="trigger_delete" data-doc="<%= project.trigger[i]._id %>" > Delete  </a></button>

                
                    <% } %>

            <% } %>

        </div>

        <div class="setButtons">
            <button class="offset-5"><a  class="view" data-doc="<%= project._id %>"  href="/projects/"> Back </a></button>
            <button><a  class="view" data-doc="<%= project._id %>"  href="/projects/<%= project._id %>/"> View </a></button>
            <button><a  class="delete" data-doc="<%= project._id %>" > Delete  </a></button>
        </div>




        </div>







        <script>
            const trashcan = document.querySelector(".delete") 

            trashcan.onclick = () => {
                
                const endpoint = `/projects/${trashcan.dataset.doc}`



                fetch(endpoint,{
                    method:"DELETE"
                })
                .then((response)=>{return response.json()})
                .then((data)=>window.location.href = data.redirect)
                .catch((err)=>console.log(err))

            }

            let triggerDelete = document.querySelectorAll("trigger_delete")
            for(let i = 0; i < triggerDelete.length; i++){
                triggerDelete[i].onclick = function(){
                    const triggerEndpoint = `/projects/${triggerDelete[i].dataset.doc}`
                    fetch(triggerEndpoint,{
                        method:"PUT"
                    })
                    .then((response)=>{return reponse.json()})
                    .catch((err)=>console.log(err))
                }
            }





        </script>

    </body>


</html>