<html>
    
    <%- include('./partials/head.ejs') %>

    <body>

        <div class="details">
        <h1 class="mainTitle detailTitle"> <%= project.title %></h1>
        <div class="content  offset-5">

            <h2>Trigger:<span class="singleDetail"> <%= project.method %></span></h2>
            <h2>Model File Path: <span class="singleDetail"><%= project.filePath %></span></h2>
            <h2>GPS Lat: <span class="singleDetail"><%= project.lat %></span></h2>
            <h2>GPS Long:<span class="singleDetail"> <%= project.long %></span></h2>
            <h2>GPS Range: <span class="singleDetail"><%= project.gpsRange %></span></h2>
            <h2>Project ID:<span class="singleDetail"> <%= project._id %></span></h2>
            <button class="add_trigger">ADD</button>



            

            <form class="trigger_list" action="/projects/<%= project._id %>/add" method="POST" enctype="multipart/form-data"><button class="save_add">SAVE</button></form>

            <% if(project.trigger.length > 0){ %>

                <% for(let i = 0; project.trigger.length>i; i++) {%>
                    <br><br>
                    <h1>Trigger <%= i+1 %></h1>
                    <h2 class="trigger_name"> Name: <%= project.trigger[i].name %></h2>
                    <h2 class="trigger_id"> Trigger Id: <%= project.trigger[i]._id %></h2>
                    <h2 class="trigger_marker"> Marker Path: <%= project.trigger[i].marker_path %></h2>
                    <h2 class="trigger_asset_path"> Asset Path: <%= project.trigger[i].asset_path %></h2>
                    <h2 class="trigger_position"> position: <%= project.trigger[i].asset_position.x %>, <%= project.trigger[i].asset_position.y %>, <%= project.trigger[i].asset_position.z %></h2>
                    <h2 class="trigger_rotation"> rotation: <%= project.trigger[i].asset_rotation.x %>, <%= project.trigger[i].asset_rotation.y %>, <%= project.trigger[i].asset_rotation.z %></h2>
                    <h2 class="trigger_size"> size: <%= project.trigger[i].asset_size.x %>, <%= project.trigger[i].asset_size.y %>, <%= project.trigger[i].asset_size.z %></h2>
                    <button><a  class="trigger_delete" data-project = "<%= project._id %>" data-trigger="<%= project.trigger[i]._id %>" > Delete </a></button>
                    <button><a  class="trigger_edit"> EDIT  </a></button>
                    
                    <div class="edit_container">
                        <form action = '/projects/<%= project._id %>/<%= project.trigger[i]._id %>/edit' method="POST">
                            <br><br>
                            <label for="scale_x">Scale x</label>
                            <input type="number" name="scale_x" class="scale_x" value = "<%= project.trigger[i].asset_size.x %>" ><br>
                            <label for="scale_y">Scale y</label>
                            <input type="number" name="scale_y" class="scale_y" value = "<%= project.trigger[i].asset_size.y %>"><br>
                            <label for="scale_y">Scale z</label>
                            <input type="number" name="scale_z" class="scale_z" value = "<%= project.trigger[i].asset_size.z %>"><br><br>

                            <label for="position_x">Position x</label>
                            <input type="number" name="position_x" class="position_x" value = "<%= project.trigger[i].asset_position.x %>"><br>
                            <label for="position_y">Position y</label>
                            <input type="number" name="position_y" class="position_y" value = "<%= project.trigger[i].asset_position.y %>"><br>
                            <label for="position_y">Position z</label>
                            <input type="number" name="position_z" class="position_z" value = "<%= project.trigger[i].asset_position.z %>"><br><br>

                            <label for="rotation_x">Rotation x</label>
                            <input type="number" name="rotation_x" class="rotation_x" value = "<%= project.trigger[i].asset_rotation.x %>"><br>
                            <label for="rotation_y">Rotation y</label>
                            <input type="number" name="rotation_y" class="rotation_y" value = "<%= project.trigger[i].asset_rotation.y %>"><br>
                            <label for="rotation_y">Rotation z</label>
                            <input type="number" name="rotation_z" class="rotation_z" value = "<%= project.trigger[i].asset_rotation.z %>"><br><br>
                            <button class="edit_save">SAVE</button>
                        </form>
                    </div>

                
                    <% } %>

            <% } %>

        </div>

        <div class="setButtons">
            <button class="offset-5"><a  class="view" data-doc="<%= project._id %>"  href="/projects/"> Back </a></button>
            <button><a  class="view" data-doc="<%= project._id %>"  href="/projects/<%= project._id %>/"> View </a></button>
            <button><a  class="delete" data-doc="<%= project._id %>" > Delete  </a></button>
        </div>

        </div>


        <script>
            const trashcan = document.querySelector(".delete") 

            trashcan.onclick = () => {
                
                const endpoint = `/projects/${trashcan.dataset.doc}`



                fetch(endpoint,{
                    method:"DELETE"
                })
                .then((response)=>{return response.json()})
                .then((data)=>window.location.href = data.redirect)
                .catch((err)=>console.log(err))

            }

            let triggerDelete = document.querySelectorAll(".trigger_delete")
            for(let i = 0; i < triggerDelete.length; i++){
                triggerDelete[i].onclick = function(){
                    const triggerEndpoint = `/projects/${triggerDelete[i].dataset.project}/${triggerDelete[i].dataset.trigger}/delete`
                    fetch(triggerEndpoint,{
                        method:"PUT"
                    })
                    .then((response)=>{return response.json()})
                    .then((data)=>window.location.href = data.redirect)
                    .catch((err)=>console.log(err))

                }
            }

            let editButton = document.querySelectorAll(".trigger_edit")
            for(let i = 0; i < editButton.length; i++){
                let editContainer = editButton[i].parentNode.nextSibling.nextSibling
                console.log(editButton[i])
                console.log(editButton[i].parentNode.nextSibling.nextSibling)
                editContainer.style.display = "none"
                let active = false
                editButton[i].onclick = function(){
                    if(!active){
                    editContainer.style.display = "block"
                    active = true
                    }else{
                        editContainer.style.display = "none"
                        active = false
                    }
                }
            }
        
        let markerOption

        if( "<%= project.method %>" == "marker"){
            markerOption=
                `<div class="marker_options">
                <label for="marker">Choose a marker: </label><br>
                <select class="marker" name="marker">
                    <option value="marker_a">Marker A</option>   
                    <option value="marker_b">Marker B</option>    
                    <option value="marker_c">Marker C</option>    
                    <option value="marker_d">Marker D</option>    
                    <option value="marker_e">Marker E</option>     
                    <option value="hiro">Marker Hiro</option>    
                </select>
                <br><br>
                </div>`
        }else{
            markerOption=""
        }



        $(".add_trigger").on("click", function(e){
        e.preventDefault()

        let triggerList = document.querySelector(".trigger_list")
        let triggerDiv = document.createElement("div")
        triggerDiv.classList.add("trigger_container")
        triggerDiv.innerHTML = `<br><br>
            <label for="trigger_name">Trigger Name</label>
            <input type="text" name="trigger_name" class="trigger_name" value="Untitled"><br><br>`
            
                + markerOption + 
            `<label for="modelFile">Upload Model</label><br>
            <input type="file" name="modelFile" class="modelFile">
            <br><br>

            <label for="scale_x">Scale x</label>
            <input type="number" name="scale_x" class="scale_x" value = 1><br>
            <label for="scale_y">Scale y</label>
            <input type="number" name="scale_y" class="scale_y" value = 1><br>
            <label for="scale_y">Scale z</label>
            <input type="number" name="scale_z" class="scale_z" value = 1><br><br>

            <label for="position_x">Position x</label>
            <input type="number" name="position_x" class="position_x" value = 0><br>
            <label for="position_y">Position y</label>
            <input type="number" name="position_y" class="position_y" value = 0><br>
            <label for="position_y">Position z</label>
            <input type="number" name="position_z" class="position_z" value = 0><br><br>

            <label for="rotation_x">Rotation x</label>
            <input type="number" name="rotation_x" class="rotation_x" value = 0><br>
            <label for="rotation_y">Rotation y</label>
            <input type="number" name="rotation_y" class="rotation_y" value = 0><br>
            <label for="rotation_y">Rotation z</label>
            <input type="number" name="rotation_z" class="rotation_z" value = 0><br><br>

            <h1 class="delete_trigger" style="cursor:pointer;">DELETE</h1>
            <br><br>`
            
            triggerList.insertBefore(triggerDiv,triggerList.childNodes[0])



        $(".delete_trigger").click(function(){
            let parentDiv = this.parentElement
            console.log(parentDiv)
            parentDiv.remove()
        })


    })

    $(".save_add").hide()
        setInterval(function(){
            let allTriggers = document.querySelectorAll(".trigger_container")
            if(typeof(allTriggers)=="string"){
                allTriggers = [allTriggers]
            }

            if(allTriggers.length<1){
                $(".save_add").hide()
            }

        },50)

            
            $(".add_trigger").click(function(){
                $(".save_add").show()
            })


        </script>

    </body>


</html>