<html>
    <%- include('./partials/head.ejs') %>

    <body>
        <div class="details">
        <h1><%= project.title %></h1>
        <div class="content">

            <h2><%= project.method %></h2>
            <h2><%= project.filePath %></h2>

            

        </div>
        <a  class="delete" data-doc="<%= project._id %>" > delete  </a>
        </div>





        <script>
            const trashcan = document.querySelector(".delete")

            trashcan.onclick = () => {
                
                const endpoint = `/projects/${trashcan.dataset.doc}`

                fetch(endpoint,{
                    method:"DELETE"
                })
                .then((response)=>response.json())
                .then((data)=>window.location.href = data.redirect)
                .catch((err)=>console.log(err))

            }



        </script>

    </body>


</html>